
  <%- include('header'); -%>
  
    <div class="box" id="heading">
    <h1> <%=listTitle%> </h1>
  </div>
  
  <h1 class="box" id="heading"> To Do List : </h1>
  
  <div class="box">  
      
        <%for(var i=0; i<newitems.length; i++){%>
          <div class="item">
          <input type="checkbox"  >
          <p><%= newitems[i] %></p></div>
        <%}%>
      

      <form calss="item" action="/" method="post">
        <input type="text" name="it" placeholder="New Item">
        <button type="submit" name="btnname" value=<%= listTitle %> >+</button>
      </form>

  </div>


  <%- include('footer'); -%>
  